@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-xs {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .break-inside {
            break-inside: avoid;
        }

    }
} */

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-1-col {
      column-count: 1;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}


@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-Regular'),
    url('../assets/fonts/Trap-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-Medium'),
    url('../assets/fonts/Trap-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-Bold'),
    url('../assets/fonts/Trap-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-SemiBold'),
    url('../assets/fonts/Trap-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-ExtraBold'),
    url('../assets/fonts/Trap-ExtraBold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: local('Trap'), local('Trap-Black'),
    url('../assets/fonts/Trap-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.apple-gradient-text {
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.font-outline {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.adq1 {
  background:
    linear-gradient(currentColor 0 0) var(--p, 0) 100% /var(--d, 0) 2px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

.adq1:hover {
  --d: 100%;
  --p: 100%;
}