.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 12px auto;
  padding-right: 3vw;
  padding-left: 3vw;
  box-sizing: content-box;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 4vw;
    padding-left: 4vw;
    box-sizing: content-box;
  }
}